<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">
    <p>Message is: {{ message }}</p>
    <input type="checkbox" id="checkbox" v-model="checked">
    <label for="checkbox">{{ checked }}</label>

    <input type="checkbox" id="tom" value="tom" v-model="checkedName">
    <label for="tom">Tom</label>
    <input type="checkbox" id="bob" value="bob" v-model="checkedName">
    <label for="bob">Bob</label>
    <input type="checkbox" id="liz" value="liz" v-model="checkedName">
    <label for="liz">liz</label>

    <ul>
      <li
        v-for="name in checkedName"
        :key="name"
      >
        {{ name }}
      </li>
    </ul>

    <select v-model="selected" multiple>
      <option disabled value="">Please select one</option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
    </select>
    <span>Selected: {{ selected }}</span>
  </div>
  <script src="application.js"></script>
</body>
</html>

