<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Application</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

  <div id="app">
    <button @click="addItem">Add item</button>
    <template v-if="existItem">
      <ol>
        <h1>All Items</h1>
        <li
          v-for="item in items"
          :key="item.id"
        >{{ item.text }}</li>
      </ol>
      <hr>
      <h2>Odd Items</h2>
      <ul>
        <li
          v-for="item in oddItems"
          :key="item.id"
        >{{ item.text }}</li>
      </ul>
  
      <hr>
      <h2>Even Items</h2>
      <ul>
        <li
          v-for="{ id, text } in evenItems"
          :key="id"
        >{{ text }}</li>
      </ul>
    </template>
    <h1 v-else>You have no items.</h1>
  </div>
  <script src="application.js"></script>
</body>
</html>

